<%- include('./../partials/header') %>
    

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/movies/detail.css">


<section class="principal">
    <article class="nuevas" id="peliculas">
        <div class="peliculas">
           <div class="titulo-nav">
                <h3>Peliculas en Digital Movies</h3>
                <div>
                    
                  <a href="/movies/new" class="btn btn-primary">Nueva</a>

                </div>
          </div>
          <div class="sub-titulo">
              <div class="ordenamiento">
                <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="?orden=title">Titulo</a></li>
                 <li class="breadcrumb-item"><a href="?orden=genero">Genero</a></li>
                 <li class="breadcrumb-item "><a href="?orden=rating">Rating</a></li>
                 <li class="breadcrumb-item active"><a href="?orden=awards">Awards</a></li>
               </ol>
              </div>
              <!-- Navigation pass to a file to reuse -->
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  
                  <li class="page-item <%= (page == 1) ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                <% for (let i = 1; i <= pages; i++) { %>
                  <li class="page-item <%= (i == page) ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                <% } %>  
                  <li class="page-item <%= (page == pages) ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
 
          <div class="">
                 <div class="alert alert-">
                     Aqui va el mensaje
                 </div>
          </div>
 
          <div class="card-group">
 
<% for (movie of movies) { %>

     <div class="card card-peli">
       <img class="fondo-peli" src="/images/default.png">
       <div class="card-header">
           <span class="card-title"><%= movie.title %></span>
           <form class="form-add-my-list" action="/my-list/<%= movie.id %>" method="post">
               <button type="submit" class="no-button">
                   <img src="/images/heart_no_like.png" class="like">
               </button>
           </form>
           </a>
       </div>
       <div class="card-body">
         <p class="card-text"><%= movie.genre.name %></p>
         <div class="rating mini-detail-item">
          <i class="fas fa-star star-rating"></i>
          <span class="text-rating"><%= movie.rating %></span>
        </div>
         <p class="card-text">
           <div class="mini-details ">            
            <div class="mini-detail-item">
                <span><i class="fas fa-hourglass-half is"></i></span>
                <span id="duracion"><%= movie.length %></span>
            </div>

            <div class="mini-detail-item">
                <span></span><i class="fas fa-calendar-day is"></i></span>
                <span id="fecha-lanzamiento"><%= movie.releaseDate %></span>
            </div>
          </div>
        </p>
         <p class="card-text">
           <a class="btn btn-primary" href="/movies/<%= movie.id %>">Ver Mas</a>
           
           <a class="btn btn-success" href="/movies/<%= movie.id %>/edit">Editar</a>
           
           </p>
       </div>
     </div>
<% } %>    
           </div>
 
 
        </div>
    </article>
 </section>

<%- include('./../partials/footer') %>